/* Copyright 2013 Google Inc. All Rights Reserved. */
body {
    color: black;
    font-family: 'Microsoft Yahei','Segoe UI',sans-serif;
    font-size: 14px;
    margin: 0;
    width: 260px;
    padding: 3px;
}

a {
    color: #58d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0px 0px 3px 0px;
}

input {
    font-family: 'Microsoft YaHei','Segoe UI',sans-serif;
}

input[type=button] {
    background-color: #1abc9c;
    color: rgba(255,255,255, 1.0); font-weight: normal;
    padding: 2px 0px;
    margin: 2px auto;
    line-height: 20px;
    border: solid 2px #1abc9c;
    cursor: pointer;
    transition: linear 0.2s;
    transition-property: background-color, color, border-color;
    outline: none;
    float: right;
    width:80px;
    margin-right: 6px;
    margin-bottom: 8px;
}

input[type=button]:disabled {
    background-color: #eee;
    border-color: #eee;
    color: #aaa;
    cursor: default;
}

input[type=button]:enabled:hover {
    background-color: #1abc9f;
    color: #fff;
}

.query-field {
    left: 0px;
    width: 200px; height: 18px;
    line-height: 18px;
    padding: 4px; margin: 2px auto;
    border: solid 1px #eee;
    outline: none;
    transition: border-color linear 0.2s;
    font-size: 14px; color: #333;
}

#query-field:focus {
    border-color: #ccc;
}

#button {
    right: 0px;
    width: 80px;
}

#extra-padding {
    padding: 6px;
}

#lookup-form {
    height: 32px;
}

#lookup-status,
#usage-tip {
    color: #999;
    font-size: 12px;
    margin-top: 12px;
}

#lookup-status {
    margin-left: 2px;
}

#web-search-link {
    font-size: 12px;
    margin-left: 2px;
    margin-top: 6px;
}
